<div class="column is-9 pl3 container">
  <% @jobs.each do |job| %>
    <div class="columns border-bottom pt4">
     <div class="column is-1">
        <% if !job.avatar.file.nil? %>
          <%= link_to image_tag(job.avatar_url(:thumb), alt: job.job_author, class: "has-text-centered")%>
        <% end %>
      </div>
    <div class="column is-8">
      <h3 class="title is-4 index-title"><%= link_to job.title, job %></h3>
        <ul>
          <li><%= link_to job.job_author %></li>
        </ul>
      <div class="pv2 f6">
        <%= sanitize(job.description.truncate(200, separator: '</p>')) %>
      </div>

      
        <ul class="pv3">
          <li class="inline-block">
            <%= link_to 'View', job, class: 'button is-small is-link is-outlined' %></li>
          <li class="inline-block">
          <% if Current.user.admin? || job_author(job) %>
            <%= link_to 'Edit', edit_job_path(job), class: 'button is-small is-link is-outlined' %></li>
          <li class="inline-block">
            <%= link_to 'Delete post', job_path(job), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }%></li>
          <% end %>
        </ul>
      

      </div>
      <div class="column has-text-right">
        <p class="pt2 f6"><%= job.location %></p>
      </div>
    </div>
  <% end %>
  
</div>
<%= render 'shared/footer'%>