  <div class="container">
  <div class=" px-4 py-5 text-center" id="featured-3">
    <h1 class="pb-2 name bottom-border"><%=link_to Current.user.name_or_company_name%>
    </h1>
  </div>
    <div class="row">
        <div class="col">
        <%=link_to 'View Job Post', @job%>
        </div>
        <div class="col">
        Invite freelancer
        </div>
        <div class="col">
        Review proposal
        </div>
    </div>

<div class="column pl3">
  <% @jobs.each do |job| %>
    <% if job.user == Current.user %>
    <div class="columns border-bottom pt4">
    <div class="column is-1">
        <% if !job.avatar.file.nil? %>
          <%= link_to image_tag(job.avatar_url(:thumb), alt: job.job_author, class: "has-text-centered")%>
        <% end %>
      </div>
    <div class="column is-8">
      <h3 class="title is-4 index-title"><%= link_to job.title, job %></h3>
        <ul>
          <li><%= link_to job.job_author %></li>
        </ul>
      <div class="pv2 f6">
        <%= sanitize(job.description.truncate(200, separator: '</p>')) %>
      </div>

      <% if Current.user.admin? || job_author(job) %>
        <ul class="pv3">
          <li class="inline-block">
            <%= link_to 'View', job, class: 'button is-small is-link is-outlined' %></li>
          <li class="inline-block">
            <%= link_to 'Edit', edit_job_path(job), class: 'button is-small is-link is-outlined' %></li>
          <li class="inline-block">
            <%= button_to 'Delete post',job, method: :delete,class: "button is-danger is-small is-rounded mv4"%></li>
        </ul>
      <% end %>

      </div>
      <div class="column has-text-right">
        <button type="button" class="btn btn-dark"><%= job.category.name if job.category %></button>
        <p class="pt2 f6"><%= job.location %></p>
      </div>
    </div>
    <%end%>
  <% end %>
  
</div>
</div>