<div class="container">
  <div class=" px-4 py-5 text-center" id="featured-3">
    <h1 class="pb-2 name bottom-border"><%=link_to Current.user.name_or_company_name%></h1>
  </div>

  <div class="row">
    <% if @user.client?%>
      <%= render 'shared/client_dashboard'%>
    <% else %>
      <%= render 'shared/freelancer_dashboard'%>
    <% end %>
  </div>

  <%if Current.user.client?%>
    <%= render 'shared/client_jobs'%>
  <% else %>
    <%= render 'shared/freelancer_applied_jobs'%>
  <%end%>
</div>