<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h4 class="title is-2">Editing Credentials</h4>
        <%= form_with model: Current.user, url: edit_path do |f| %>
          <div class="field">
            <div class="control">
              <p>
              <%= f.label 'name/company name' %><br>
              <%= f.text_field :name_or_company_name %>
              </p>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <p>
              <%= f.label 'email' %><br>
              <%= f.text_field :email %>
              </p>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <p>
              <%= f.label 'education' %><br>
              <%= f.text_field :education %>
              </p>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <p>
              <%= f.label 'experinece' %><br>
              <%= f.text_field :experience %>
              </p>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <p>
              <%= f.label 'industry' %><br>
              <%= f.text_field :industry %>
              </p>
            </div>
          </div>

          <p>
          <%= f.submit 'Update', class:"button is-primary is-medium" %>
          </p>
        <% end %>
      </div>
		</div>
	</div>
</section>