  <div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Freelancer</span>
      </a>

      <ul class="nav nav-pills">
        <li>
        <%=link_to "Home", root_path, class:"nav-item nav-link"%>
        </li>

        <li>
        <%=link_to "About", root_path, class:"nav-item nav-link"%>
        </li>
      </ul>

      <% if Current.user %>
            Logged in as: <%= Current.user.email %><br>
            <%= link_to 'Edit Password', edit_password_path %>
            <%= button_to 'Logout', logout_path, method: :delete %>

            <% else %>
            <%=link_to "login", sign_in_path, class: "btn btn-success", type: "button"%>
          
            <%=link_to "Sign-up", sign_up_path, class: "btn btn-warning", type: "button"%>
      <% end %>
    </header>
    </div>


