<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

          <h2 class="title is-2">Edit</h2>
            <%= form_with model: Current.user, url: edit_path do |f| %>
            <div class="field">
              <div class="control">
                <p>
                <%= f.label 'Name or Company Name' %><br>
                <%= f.text_field :name_or_company_name %>
                </p>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <p>
                <%= f.label 'password' %><br>
                <%= f.password_field :password %>
                </p>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <p>
                <%= f.label 'password_confirmation' %><br>
                <%= f.password_field :password_confirmation %>
                </p>
              </div>
            </div>

            <p>
            <%= f.submit 'Update', class:"button is-primary is-medium" %>
            </p>
          <% end %>
      </div>
		</div>
	</div>
</section>