<div class="container mt-6">
  <p style="color: green"><%= notice %></p>

  <%= render @category %>

  <div class="my-4">
    <%= link_to "Edit this category", edit_category_path(@category) %> |
    <%= link_to "Back to categories", categories_path %>
    <%= button_to "Destroy this category", @category, method: :delete, class:"mt-4" %>
  </div>
</div>
